<%= turbo_stream_from @ticket %>

<%= turbo_frame_tag "ticket" do %>
  <%= render @ticket %>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
  <%= link_to 'Back', tickets_path, 'data-turbo-frame': :_top %>
<% end %>

<div id="comments">
  <h3>Comments</h3>
  <%= render @ticket.comments.includes(:rich_text_content) %>
</div>

<%= link_to "New Comment", new_ticket_comment_path(@ticket) %>